@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Cabin:wght@400&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

/* ------------------ Animations ---------------------- */
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ------------------ Button Styles ---------------------- */
.vcx.button {
  border-radius: 4px;
  border: none;
}

.vcx.button i {
  margin: 0 8px;
}

.vcx.button.block {
  display: block;
  width: 100%;
  padding: 16px;
  font-size: 13px;
  font-weight: 600;
}

.vcx.button.orange {
  color: #fff;
  background: #ff6600;
}

.vcx.button.blue {
  color: #fff;
  background: #106bd1;
}

.vcx.button.red {
  color: #fff;
  background: #e30e0e;
}

.vcx.button.green {
  color: #fff;
  background: #33a800;
}

.vcx.button.block.outline {
  background: #fff;
  border: 1px solid #4a7fd6;
  color: #1c54b0;
}

.vcx.button.block.rounded {
  border-radius: 32px;
}

.vcx.button:disabled {
  background: #8c919e;
}

/* ------------------ Input Styles ---------------------- */
input.vcx[type='text'],
input.vcx[type='password'] {
  display: block;
  width: 100%;
  background: #fff;
  border: 1px solid #dddddd;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 4px;
  padding: 12px;
  outline: none;
  font-family: Cabin, sans-serif;
  font-size: 16px;
  color: #2c2c5b;
}

input.vcx[type='text'].error,
input.vcx[type='password'].error {
  border-color: #d11212;
}

input.vcx[type='text']:focus:not(.error),
input.vcx[type='password']:focus:not(.error) {
  border: 1px solid #00aeef;
}

/* ------------------ Select Styles ---------------------- */
.vcx.select {
  position: relative;
}

.vcx.select::after {
  display: block;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 12px;
  content: '\f078';
  color: #282828;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  pointer-events: none;
}

.vcx.select select {
  cursor: pointer;
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  padding: 14px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background: #fff;
  outline: none;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  font-family: Cabin, sans-serif;
  font-size: 16px;
  color: #2c2c5b;
}

/* ------------------ Form Styles ---------------------- */
form.vcx .groups {
  display: flex;
  align-items: flex-start;
}

form.vcx .groups .group {
  flex-grow: 1;
}

form.vcx .groups .group:not(:last-of-type) {
  margin-right: 12px;
}

form.vcx .group {
  margin-bottom: 24px;
}

form.vcx .group label {
  flex-grow: 1;
  display: block;
  font-weight: 600;
  font-size: 12px;
  margin-right: 32px;
  color: #74748c;
}

form.vcx .group > label {
  margin-bottom: 8px;
}

form.vcx .error-message {
  margin: 6px 0;
  font-family: Cabin, sans-serif;
  font-size: 14px;
  color: #d11212;
}

form.vcx .section {
  /* margin-bottom: 40px; */
}

body {
  color: #333;
  margin: 0;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* --------- Home Page Styles ---------- */
#home .hero {
  background: url('../img/banner-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60% 10%;
}

#home .hero .wrapper {
  padding: 16px 16px 40px;
  max-width: 1280px;
  margin: 0 auto;
}

header.t1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 220px;
}

header.t1 .logo {
  display: flex;
  align-items: center;
}

header.t1 .logo i {
  color: #fff;
  font-size: 20px;
  margin-right: 8px;
}

header.t1 .logo img {
  width: 80px;
}

header.t1 .right {
  display: flex;
  align-items: center;
}

header.t1 .right a {
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  margin-right: 16px;
  padding: 12px 0;
}

header.t1 button {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #333;
  font-size: 10px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 8px 12px;
}

header.t1 button img {
  width: 16px;
  margin-right: 8px;
}

#home .hero .content h2 {
  color: #333;
  font-weight: 600;
  font-size: 20px;
  line-height: 48px;
  margin-bottom: 8px;
}

#home .hero .content h2 span {
  display: inline;
  background: #fff;
  padding: 8px;
  word-wrap: break-word;

  position: relative;
  left: 10px;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 10px 0 0 #fff, -10px 0 0 #fff;
}

#home .hero .content p {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

/* ------------ Header 2 Styles -------------- */
header.t2 {
  border: 1px solid #e2e2e2;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.08);
}

header.t2 > .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  max-width: 1280px;
  margin: 0 auto;
}

header.t2 .logo {
  display: flex;
  align-items: center;
}

header.t2 .logo i {
  color: #333;
  font-size: 20px;
  margin-right: 8px;
}

header.t2 .logo img {
  width: 80px;
}

header.t2 button {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #333;
  font-size: 10px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 6px;
  border: 1px solid #e1e1e1;
  padding: 8px 12px;

  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.06);
}

header.t2 button img {
  width: 12px;
  margin-right: 8px;
}

@media (min-width: 640px) {
  #home .hero .wrapper {
    padding-bottom: 120px;
  }

  header.t1 {
    margin-bottom: 160px;
    padding: 16px;
  }

  header.t1 .logo i {
    font-size: 24px;
  }

  header.t1 .logo img {
    width: 100px;
  }

  header.t1 .right a {
    margin-right: 32px;
  }

  header.t1 button {
    padding: 10px 14px;
    font-size: 12px;
  }

  header.t2 > .wrapper {
    padding: 16px;
  }

  header.t2 button {
    padding: 10px 14px;
    font-size: 12px;
  }

  #home .hero .content h2 {
    font-size: 24px;
    line-height: 48px;
    margin-bottom: 20px;
  }

  #home .hero .content h2 span {
    padding: 14px;

    left: 20px;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 20px 0 0 #fff, -20px 0 0 #fff;
  }
}

#home .intro {
  background: #f7f7f7;
}

#home .intro .wrapper {
  padding: 48px 16px;
  max-width: 960px;
  margin: 0 auto;

  display: flex;
  align-items: flex-start;
}

#home .intro img {
  width: 25%;
  margin-right: 16px;
  transform: scaleX(-1);
}

#home .intro .content h3 {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  background-color: #33a800;
  padding: 8px;
  margin-bottom: 16px;
}

#home .intro .content p {
  color: #32445e;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.4px;
}

#home .intro .content p:not(:last-of-type) {
  margin-bottom: 16px;
}

@media (min-width: 640px) {
  #home .intro .wrapper {
    padding: 80px 32px;
  }

  #home .intro img {
    width: 30%;
    margin-right: 80px;
  }

  #home .intro .content h3 {
    font-size: 14px;
    padding: 12px;
    margin-bottom: 24px;
  }

  #home .intro .content p {
    font-size: 14px;
    line-height: 24px;
  }
}

#home .conclusion .wrapper {
  padding: 48px 16px;
  max-width: 960px;
  margin: 0 auto;
}

#home .conclusion img.mockup {
  display: block;
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 32px;
}

#home .conclusion .content {
  text-align: center;
}

#home .conclusion .content h3 {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 16px;
}

#home .conclusion .content button {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #333;
  font-size: 12px;
  background: #f5f5f5;
  border: 1px solid #d7d7d7;
  outline: none;
  border-radius: 6px;
  padding: 12px 14px;
  margin: 0 auto;
}

#home .conclusion .content button img {
  width: 14px;
  margin-right: 8px;
}

#home .conclusion .content a {
  display: inline-block;
  color: #fff;
  background: #106bd1;
  font-size: 12px;
  font-weight: 600;
  padding: 12px 16px;
  border-radius: 6px;
}

#home .conclusion .content a:hover i {
  transform: translateX(4px);
}

#home .conclusion .content a i {
  margin-left: 4px;
  transition: transform 0.2s ease-in-out;
}

@media (min-width: 640px) {
  #home .conclusion .wrapper {
    padding: 80px 32px;
  }

  #home .conclusion .content h3 {
    font-size: 20px;
    margin-bottom: 24px;
  }

  #home .conclusion .content button,
  #home .conclusion .content a {
    padding: 12px 24px;
  }
}

/* --------- Loading Screen Styles ---------- */
#loading {
  background: #f7f7f7;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loading .content {
  position: absolute;
  text-align: center;
}

#loading .content i {
  color: #0086b8;
  font-size: 40px;
  margin-bottom: 16px;
  animation: spinner 1s linear infinite;
}

#loading .content p {
  font-weight: 600;
  font-size: 14px;
}

/* --------- Profile Edit Page Styles ---------- */
#profile-edit {
  min-height: 100vh;
  background: #fcfcfc;
  padding: 32px 16px;
}

#profile-edit form {
  margin: 0 auto;
  max-width: 420px;
}

#profile-edit form h2 {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 32px;
  display: inline-block;
  background: #8193a4;
  color: #fff;
  padding: 12px 16px;
  /* border-radius: 64px; */
}

#profile-edit form h2 i {
  margin-right: 8px;
}

#profile-edit form button[type='submit'] {
  margin-top: 32px;
}

#profile-edit form .loading-icon {
  font-size: 32px;
  text-align: center;
  color: #33a800;
  animation: spinner 0.75s linear infinite;
}

/* ------------- Dashboard styles --------------------- */
#dashboard .container-1 {
  padding: 20px 16px;
  max-width: 1280px;
  margin: 0 auto;
}

#dashboard .nav {
  display: flex;
  margin-bottom: 16px;
  border-bottom: 1.5px solid #dcdde0;
}

#dashboard .nav li {
  position: relative;
  bottom: -1.5px;
}

#dashboard .nav li:not(:last-of-type) {
  margin-right: 16px;
}

#dashboard .nav a {
  display: block;
  font-weight: 600;
  font-size: 12px;
  color: #98a2b8;
  padding: 8px 0;
}

#dashboard .nav li a.active {
  color: #3156a1;
  border-bottom: 1.5px solid #3156a1;
}

#dashboard .programmes .programme {
  margin-bottom: 16px;
}

#dashboard .programmes .programme .title {
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #3156a1;
  margin-bottom: 2px;
}

#dashboard .programmes .programme .details {
  font-weight: 500;
  font-size: 11px;
  color: #909090;
}

@media (min-width: 640px) {
  #dashboard .nav {
    margin-bottom: 24px;
  }

  #dashboard .nav a {
    font-size: 13px;
  }

  #dashboard .programmes .programme {
    margin-bottom: 24px;
  }

  #dashboard .programmes .programme .title {
    font-size: 16px;
    /* line-height: 18px; */
    margin-bottom: 6px;
  }

  #dashboard .programmes .programme .details {
    font-weight: 600;
  }
}

/* ---------- Application Page Styles ------------ */
#application form {
  padding-top: 32px;
  margin: 0 auto;
  max-width: 420px;
}

#application form h2 {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 32px;
  display: inline-block;
  background: #8193a4;
  color: #fff;
  padding: 12px 16px;
  /* border-radius: 64px; */
}

#application form button[type='submit'] {
  margin-top: 32px;
}

#application form .loading-icon {
  font-size: 32px;
  text-align: center;
  color: #33a800;
  animation: spinner 0.75s linear infinite;
}
